.information {
    display: flex;
}

.clientInformation {
    padding-right: 50px;
}

.clientNotes {
    flex: 1;
}

.clientInformation:first-child {
    margin-right: 100px;
}

.testing {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.icon1 {
    font-size: 30px;
    position: relative;
    padding-right: 20px;
}

.infoText {
    width: 20%;
    min-width: 200px;
    font-weight: 600;
}

.text {
    
}

.testingu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .one {
    flex: 1;
    padding-right: 100px;
  }
  .two {
    flex: 2;
    margin-bottom: 20px;
  }
  .three {
    flex-basis: 100%;
    margin-bottom: 20px;
    padding-top: 50px;
    display: inline-block;
  }

  .work {
    align-items: center;
  }

  .title {
    display: flex;
    align-items: center;
  }

  .addWorkIcon {
    font-size: 30px;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
  }

  .workTitle {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    margin-left: 0px;
  }

  .workTitle > h2 {
    padding: 20px;
    margin: 0;
  }