@tailwind base;
@tailwind components;
@tailwind utilities;

.fc-event-time{
    display : none;
}

.fc-timeline-event-harness:hover {
    cursor: pointer;
    opacity: 0.5;
}

.fc .fc-toolbar-title {
    font-size: 1em;
    margin: 0;
}

.newHome .fc .fc-toolbar {
    justify-content: space-around;
}

.newHome > .fc .fc-list-event {
    cursor: pointer;
}

.darkMode .fc .fc-toolbar {
    justify-content: space-around;
}

.darkMode > .fc .fc-list-sticky .fc-list-day > * {
    background: #0c3046;
}

.darkMode > .fc .fc-list-event {
    cursor: pointer;
}