.loginForm {
    width: 95%;
    margin: auto;
    margin-top: 50px;
}
 
.userInput {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    height: 30px;
    margin: 5px 5px;
}
 
.userInput[type = password] {
    padding: 0px 15px;
}
 
.userInput[type = email] {
    padding: 0px 15px;
}
 
.userInput:focus {
    outline: none;
    background-color: rgb(236, 236, 236);
}
 
.login-btn {
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 0px 20px;
    height: 50px;
    width: 96%;
}

.login-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
 
button:disabled {
    background-color: rgba(0, 0, 0, 0.418);
}