.navbar {
  color: #fff;
  width: 250px;
  height: 100vh;
  position: fixed;
  background-image: linear-gradient(30deg , #0048bd, #44a7fd);
  border-top-right-radius: 80px;
}

.navbar > .nav-btn {
  background-color: transparent;
  width: 100%;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 16px 0px 16px 0px;
  margin: 0px 0px;
  text-align: left;
}
  
.navbar > .nav-btn:hover {
  color: #44a7fd;
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
  
.navbar > .nav-btn:hover::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 #fff;
}
  
.navbar > .nav-btn:hover::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 62px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #fff;
}
  
.pageTitle {
  margin: 0;
  font-weight: bold;
  padding: 5vh 0 30px 0px;
  font-size: 30px;
  text-decoration: underline;
}

.navIcon {
  font-size: 26px;
  vertical-align: middle;
  float: left;
  padding-left: 30px;
  padding-right: 20px;
}

.nav-btn.active {
  color: #44a7fd;
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nav-btn.active::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 62px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #fff;
}

.nav-btn.active::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 #fff;
}

.currentUser {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}

.currentUser > .login-btn {
  width: 86%;
}

.curerntUserText{
  font-size: 20px;
  color: white;
  font-weight: 300;
  margin-bottom: 0;
}